@font-face{
    font-family: 'Public Sans';
    src: url(../Fonts/PublicSans-Bold.ttf);
    font-weight: 700;
}

@font-face{
    font-family: 'Public Sans';
    src: url(../Fonts/PublicSans-Regular.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Public Sans';
    src: url(../Fonts/DMSerifDisplay-Regular.ttf);
    font-weight: 400;
}