html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    background: #EDF3F8;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Public sans';
    font-family: 'DM Serif Display', serif;
}